<nav id="custom-bootstrap-menu"class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	  <a class="navbar-brand" href="/welcome/index">CB</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Something</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
			<li role="presentation"><a href="/Project1">Project1</a></li>
			<li role="presentation"><a href="/Project2">Project2</a></li>
			<li role="presentation"><a href="/Project3">Project3</a></li>
			<li role="presentation"  class="disabled"><a href="#">Project4</a></li>
			<li role="presentation"  class="disabled"><a href="#">Project5</a></li>
          </ul>
        </li>
      </ul>
      <ul id="rightnav"class="nav navbar-nav navbar-right">
	  	<li>
	  	  <span class="fa-stack fa-lg">
  		    <i class="fa fa-square-o fa-stack-2x"></i>
            <a  color:"black" href="https://www.linkedin.com/pub/clint-best/48/175/676"><i class="fa my-fa-linkedin fa-stack-1x"></i></a>
          </span>
        </li>
	  	<li>
	  	  <span class="fa-stack fa-lg">
  		    <i class="fa fa-square-o fa-stack-2x"></i>
            <a href="https://www.facebook.com/clinton.best"><i class="fa my-fa-facebook fa-stack-1x"></i></a>
          </span>
        </li>
	  	<li>
	  	  <span class="fa-stack fa-lg">
  		    <i class="fa fa-square-o fa-stack-2x"></i>
            <a href="https://github.com/clintguy45/"><i class="fa my-fa-github fa-stack-1x"></i></a>
          </span>
        </li>
	  	<li>
	  	  <span class="fa-stack fa-lg">
  		    <i class="fa fa-square-o fa-stack-2x"></i>
            <a  href="https://plus.google.com/u/0/103108263364315892439/posts"><i class="fa my-fa-google-plus fa-stack-1x"></i></a>
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="center_area" class="container">
  <header class="image-bg-fluid-height">
    <h1>Clinton Best</h1>
	<p>Welcome to my site!! Please feel free to look around and check out the links to my other projects.</p>
    <img class="img-responsive img-center" src="/assets/Banner_1.jpg" alt="Rails logo">
  </header>
  <div id="mainbody">
	<h1>HTML Ipsum Presents</h1>
	<p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

	<h2>Header Level 2</h2>
	<span class="fa-stack fa-lg">
  	    <i class="fa fa-square-o fa-stack-2x"></i>
         <i class="fa fa-twitter fa-stack-1x"></i>
     </span>	       
	<ol>
	   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	   <li>Aliquam tincidunt mauris eu risus.</li>
	</ol>

	<blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>

	<h3>Header Level 3</h3>

	<ul>
	   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	   <li>Aliquam tincidunt mauris eu risus.</li>
	</ul>
	<dl>
	   <dt>Definition list</dt>
	   <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
	aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
	commodo consequat.</dd>
	   <dt>Lorem ipsum dolor sit amet</dt>
	   <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
	aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
	commodo consequat.</dd>
	</dl>
	<p>Design as if your fucking life depended on it. Widows and orphans are terrible fucking tragedies, both in real life and definitely in typography. If you’re not being fucking honest with yourself how could you ever hope to communicate something meaningful to someone else? Don’t worry about what other people fucking think. Can we all just agree as the greater design community to stop fucking talking about Comic Sans altogether? It’s getting fucking old. This design is fucking brilliant. Why are you fucking reading all of this? Get back to work. Don’t fucking lie to yourself. Paul Rand once said, “The public is more familiar with bad fucking design than good design. It is, in effect, conditioned to prefer bad design, because that is what it lives with. The new becomes threatening, the old reassuring.” Don’t get hung up on things that don’t fucking work. What’s important is the fucking drive to see a project through no matter what. Remember it’s called the creative process, it’s not the creative fucking moment. To surpass others is fucking tough, if you only do as you are told you don’t have it in you to succeed. The graphic designer’s first fucking consideration is</p>
	<table>
	  <thead>
	    <tr>
	  	  <th>Pellentesque</th>
	  	  <th>Pellentesque</th>
	  	  <th>Pellentesque</th>
	  	  <th>Pellentesque</th>
	  	</tr>
	  </thead>
	  <tbody>
	  	<tr>
	  	  <td>habitant</td>
	  	  <td>vulputate</td>
	  	  <td>vulputate</td>
	  	  <td>vulputate</td>
	  	</tr>
	  	<tr>
	  	  <td>vulputate</td>
	  	  <td>habitant</td>
	  	  <td>vulputate</td>
	  	  <td>vulputate</td>
	  	</tr>
	  	<tr>
	  	  <td>vulputate</td>
	  	  <td>habitant</td>
	  	  <td>vulputate</td>
	  	  <td>vulputate</td>
	  	</tr>
	  </tbody>
	</table>
  </div>
</div>

<footer id="main_footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Your Website 2014</p>
      </div>
    </div>
  </div>
</footer>
