<div id="splash_container">

	<h1>Clinton Best</h1>

	<p>Web Developer/QA Automatoin</p>

	<p>Something about myself should be in this paragraph.</p> 
	<p>For now however, lets just put a bunch of stuff in here.</p> 
	<p>I'm not using lorem ipsum because thats too easy. I think I can just type stuff in a couple of sentences.</p> 
	<p>Actually I'm running out of things to say already.</p> 
	<p>I wish my boostrap social media icons weren't being retarded on my navbar.</p> 
	<p>I also wish I was better at web design but thats neither here nor there.</p>


  <br />

	<a href="https://www.linkedin.com/pub/clint-best/48/175/676" target="blank">
	<%=image_tag("ld.png") %></a>

	<a href="https://www.facebook.com/clinton.best" target="blank">
	<%=image_tag("fk.png") %></a>

	<a href="https://plus.google.com/u/0/103108263364315892439/" target="blank">
	<%=image_tag("gs.png") %></a>

  <br  />

	<a id="entersite" href="/welcome/index">Continue to Site</a>
</div>