<div id="splash_container">

	<h1>Clinton Best</h1>

	<img id="me" class="img-center" src="/assets/me.jpg" alt="Rails logo">

	<h2>Web Developer/QA Automation</h2>

	<p>I dabble in many areas in my free time. However professionally I have focused on Web Development</p> 
	<p>If you wish to learn more about me feel free to click the social media links below.</p> 
	<p>This site itself is a repository of information about myself and my other projects.</p> 
	<p>This is also where I host my personal blog.</p> 

  <br />

	<a href="https://www.linkedin.com/pub/clint-best/48/175/676" target="blank">
	<%=image_tag("ld.png") %></a>

	<a href="https://www.facebook.com/clinton.best" target="blank">
	<%=image_tag("fk.png") %></a>

	<a href="https://plus.google.com/u/0/103108263364315892439/" target="blank">
	<%=image_tag("gs.png") %></a>

  <br  />

	<a id="entersite" href="/welcome/index">Continue to Site</a>
</div>