// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: black;
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: #EDEDED;
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: black;
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: white;
    background-color: #000000;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: black;
    background-color: rgba(0, 0, 0, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #000000;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle.collapsed:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle.collapsed:focus {
    background-color: #000000;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #000000;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ab6bdb;
}

#center_area {
	background-color: white;
	margin-bottom: 1cm;
	border-width: 100%;
	border-color: black;
}

#main_footer {
	background-color: #EDEDED;
	padding-top: 0.5em;
	color: black;
}

#rightnav {
	padding-top: 0.5em;
	padding-bottom: 0;
}
